{% extends '_layout/base.html' %}

{% block content %}

		<div class="section page-content">
			<div class="container">
				<div class="row">
<!--					////////////////////////////////////////-->
					<div class="content-box" style="display: flex; flex-direction: column; gap: 10px; text-align: center">
						<h3 style="color: navy; text-align: center;">
							Page:
						</h3>
						<h4 style="color: green;">
							{{ page_title }}
						</h4>
					</div>
<!--					////////////////////////////////////////-->
				</div>
			</div>
		</div>
{% endblock content %}
